.markdown-body {
  word-wrap: break-word;
}

.markdown-body p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin: 1.5rem 0;
  font-weight: bold;
}

.markdown-body h1 {
  font-size: 1.6rem;
}

.markdown-body h2 {
  font-size: 1.4rem;
}

.markdown-body h3 {
  font-size: 1.2rem;
}

.markdown-body pre {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1.2rem;
}

.markdown-body a {
  text-decoration: underline;
}

.markdown-body table {
  border-collapse: collapse;
  width: 100%;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #f5f5f5;
  padding: 8px;
  text-align: left;
}

.markdown-body ul li {
  margin-bottom: 0.5rem;
}
